@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

.lobster {
  font-family: "Lobster", sans-serif;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --accent: hsl(255, 76%, 90%);
  --accent-foreground: hsl(256, 74%, 28%);
  --background: hsl(200, 36%, 95%);
  --background-accent: hsl(201, 33%, 85%);
  --border: hsl(199, 31%, 75%);
  --card: hsl(200, 36%, 95%);
  --card-foreground: hsl(197, 47%, 3%);
  --foreground: hsl(197, 47%, 3%);
  --input: hsl(199, 31%, 75%);
  --muted: hsl(201, 33%, 85%);
  --muted-foreground: hsl(200, 23%, 28%);
  --popover: hsl(200, 36%, 95%);
  --popover-foreground: hsl(197, 47%, 3%);
  --primary: hsl(196, 99%, 38%);
  --primary-foreground: #ffffff;
  --ring: hsl(197, 47%, 3%);
  --secondary: hsl(182, 73%, 83%);
  --secondary-foreground: hsl(182, 68%, 21%);
}

.dark {
  --accent: hsl(256, 73%, 39%);
  --accent-foreground: hsl(255, 77%, 95%);
  --background: hsl(288, 100%, 5%);
  --background-accent: hsl(198, 28%, 12%);
  --border: hsl(199, 24%, 20%);
  --card: hsl(197, 47%, 3%);
  --card-foreground: hsl(200, 36%, 95%);
  --foreground: hsl(200, 36%, 95%);
  --input: hsl(199, 24%, 20%);
  --muted: hsl(198, 28%, 12%);
  --muted-foreground: hsl(200, 21%, 55%);
  --popover: hsl(197, 47%, 3%);
  --popover-foreground: hsl(200, 36%, 95%);
  --primary: hsl(0, 0%, 100%);
  --primary-foreground: hsl(196, 98%, 19%);
  --ring: hsl(200, 36%, 95%);
  --secondary: hsl(181, 68%, 28%);
  --secondary-foreground: hsl(182, 73%, 90%);
}

body {
  font-family: var(--font-open-sans);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container {
    @apply mx-auto px-[20px] lg:px-0 w-full md:w-[768px] lg:max-w-[1280px];
  }
  .icon {
    @apply size-[20px] text-primary hover:text-cyan-600;
  }
}

@layer utilities {
  h1 {
    @apply text-5xl;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 50s linear infinite;
}

@media (prefers-reduced-motion) {
  .animate-scroll {
    animation: none;
  }
}
